<% layout("layouts/boilerplate") %>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <p>
      <a href="/campgrounds/<%= campground._id%>/edit">편집</a>
    </p>
    <p>
      <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="post">
        <button>삭제</button>
      </form>
    </p>
    <footer>
      <a href="/campgrounds">모든 캠핑장</a>
    </footer>
